In [1]:
import database_puller as dp
import pandas as pd

dfs = dp.pull_all()
    # dfs = vd.load_data()
    # print(len(dfs))
fin_cities_df, fin_regions_df, agriculture_fin_df, air_passenger_and_cargo_transport_fin_df, supplementary_data_fin_df, energy_consumption_and_population_fin_df, energy_agric_fin_df, transportation_fin_df, swe_cities_df, swe_regions_df, avg_co2_consumption_df, final_tree_info_df, partial_tree_info_df = dfs

In [2]:
swe_regions_df

,Year,Region,Population,Waste And Sewage,Machinery,Electricity And District Heating,Other Heating,Agriculture,Transportation,Industry,Total Emissions
0,1990,Dalarna County,NaN,104.0,54.0,17.0,216.0,136.0,295.0,148.0,978
1,1990,Norrbotten County,NaN,226.0,296.0,1598.0,256.0,165.0,766.0,1821.0,5143
2,1990,Kalmar County,NaN,187.0,114.0,62.0,339.0,517.0,547.0,320.0,2100
3,1990,Vastragotaland County,NaN,542.0,681.0,710.0,1507.0,1332.0,2872.0,4366.0,12081
4,1990,Sodermanland County,NaN,218.0,99.0,186.0,276.0,322.0,644.0,2431.0,4189
...,...,...,...,...,...,...,...,...,...,...,...
247,2022,OEstergoetland County,471912.0,24.1,113.3,619.1,24.2,487.0,670.1,115.1,2081.13192
248,2022,Uppsala County,400682.0,17.2,97.8,201.1,17.9,284.1,565.8,48.5,1257.740798
249,2022,Vaermland County,283976.0,33.2,103.9,109.9,24.4,177.2,439.6,163.9,1059.514456
250,2022,Kalmar County,247711.0,32.9,79.3,100.1,23.6,514.2,393.9,51.0,1198.92124
251,2022,Vaestra Goetaland County,1758656.0,119.6,432.6,793.2,126.9,1141.4,2333.7,4326.3,748.528768

In [3]:
filt_swe_emission_df = swe_cities_df[swe_cities_df['Year'] == 2022][['Total Emissions']]

tree_dict = {
    "Larch":0.000747,
    "Pine": 0.000301,
    "Douglas Fir": 0.000989,
    "Fir": 0.000443,
    "Spruce": 0.000425,
    "Oak": 0.000413,
    "Beech": 0.000353
}

for tree in tree_dict:
    filtered_rec_data['Recommended Tree Amount'] = filtered_cities_data['Total Emissions']/ tree[1]

NameError: name 'filtered_cities_data' is not defined

In [15]:

filt_swe_emission_df = swe_cities_df[swe_cities_df['Year'] == 2022][['Total Emissions']]

filt_swe_emission_df

      Total Emissions
2900        26.287921
2901        63.708959
2902        23.800793
2903        33.152432
2904        18.340515
...               ...
3185        42.570536
3186        23.816964
3187        22.621590
3188        10.577010
3189        56.386616

[290 rows x 1 columns]

In [1]:
import pandas as pd
import database_puller as dp
import dataframe_helper as dh


input_value = 'Helsinki'

dfs = dp.pull_all()
fin_cities_df, fin_regions_df, agriculture_fin_df, air_passenger_and_cargo_transport_fin_df, supplementary_data_fin_df, energy_consumption_and_population_fin_df, energy_agric_fin_df, transportation_fin_df, swe_cities_df, swe_regions_df, avg_co2_consumption_df, final_tree_info_df, partial_tree_info_df = dfs

combine_list = [fin_cities_df, swe_cities_df]
combined_cities_df = pd.concat(combine_list)

# combined_cities_df
combined_cities_df.drop(columns=['Region', 'Population', 'Waste And Sewage', 'Machinery', 'Electricity And District Heating', 'Other Heating', 'Agriculture', 'Transportation', 'Industry'], inplace=True)
final_tree_info_df.drop(columns=['Species', 'Type', 'Description', 'Average Height', 'Habitat', 'Maintenance', 'Light', 'Soil', 'Water'], inplace=True)

filtered_rec_data = final_tree_info_df.copy()

combined_cities_df['City With Special Characters'] = combined_cities_df['City'].apply(dh.reverse_special_chars_finish)
filtered_cities_data = combined_cities_df[combined_cities_df['Year'] == 2022][['City With Special Characters','Total Emissions']]

filtered_cities_data = filtered_cities_data[filtered_cities_data['City With Special Characters'].str.contains(input_value, case=False)]
# filtered_cities_data

# larch_calc = final_tree_info_df['Average CO2 Consumption']

# filtered_rec_data['Recommended Tree Amount'] = filtered_cities_data['Total Emissions'] / final_tree_info_df['Average CO2 Consumption']
# filtered_rec_data
filtered_cities_data = filtered_cities_data[filtered_cities_data['Year'] == 2022][['Total Emissions']]

tree_dict = {
    "Larch":0.000747,
    "Pine": 0.000301,
    "Douglas Fir": 0.000989,
    "Fir": 0.000443,
    "Spruce": 0.000425,
    "Oak": 0.000413,
    "Beech": 0.000353
}

#filtered_rec_data['Recommended Tree Amount'] = 0

for tree, co2_value in tree_dict.items():
    filtered_rec_data['Recommended Tree Amount'] = filtered_cities_data['Total Emissions'] / co2_value

filtered_rec_data

KeyError: 'Year'

In [18]:
import xlsx_to_csv_converter as xtcc
import filehandler_helper as fh
import transform as t
import pandas as pd

xtcc.convert_single_file('sweden_data', 'sweden_data', 'countyreport_CO2')

filename = 'countyreport_CO2.csv'
folder = 'sweden_data'
filepath = fh.get_path_of_file(folder, filename)
data = pd.read_csv(filepath, index_col=False)

In [19]:
data = t.translate_replace(data)

In [20]:
data = data[(data['Region'] != 'Alla') & (data['City'] == 'Alla')]

data

,Main sector,Subsector,Region,City,CO2 1990,CO2 2000,CO2 2005,CO2 2010,CO2 2015,CO2 2016,CO2 2017,CO2 2018,CO2 2019,CO2 2020,CO2 2021,CO2 2022
1,Alla,Alla,Blekinge laen,Alla,7.283389e+05,7.151785e+05,6.713870e+05,6.616963e+05,3.942866e+05,3.672312e+05,3.596711e+05,3.823613e+05,3.444714e+05,3.154314e+05,3.930762e+05,4.504803e+05
7,Alla,Alla,Dalarnas laen,Alla,2.029331e+06,2.070988e+06,2.110260e+06,1.722288e+06,1.487058e+06,1.487319e+06,1.436679e+06,1.363098e+06,1.343187e+06,1.257230e+06,1.298363e+06,1.223972e+06
23,Alla,Alla,Gotlands laen,Alla,2.015634e+06,2.099896e+06,2.087160e+06,2.035746e+06,2.246299e+06,2.180804e+06,2.058273e+06,2.126348e+06,1.932614e+06,1.820515e+06,1.772071e+06,1.693531e+06
25,Alla,Alla,Gaevleborgs laen,Alla,1.833253e+06,1.795522e+06,1.719900e+06,1.644799e+06,1.187083e+06,1.178099e+06,1.093845e+06,1.062550e+06,1.034287e+06,9.380625e+05,9.369937e+05,8.473608e+05
36,Alla,Alla,Hallands laen,Alla,1.775107e+06,1.560297e+06,1.512893e+06,1.461613e+06,1.067390e+06,1.046270e+06,1.040512e+06,1.022532e+06,1.008725e+06,9.286891e+05,9.582885e+05,8.891572e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19248,Exportation,Utrikes flyg under 1000 m höjd i svenskt luftrum,Vaesternorrlands laen,Alla,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
19256,Exportation,Utrikes flyg under 1000 m höjd i svenskt luftrum,Vaestmanlands laen,Alla,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
19267,Exportation,Utrikes flyg under 1000 m höjd i svenskt luftrum,Vaestra Goetalands laen,Alla,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
19317,Exportation,Utrikes flyg under 1000 m höjd i svenskt luftrum,OErebro laen,Alla,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
19330,Exportation,Utrikes flyg under 1000 m höjd i svenskt luftrum,OEstergoetlands laen,Alla,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [5]:
data = t.drop_columns(data)

data

,Main sector,Region,City,CO2 1990,CO2 2005,CO2 2010,CO2 2015,CO2 2016,CO2 2017,CO2 2018,CO2 2019,CO2 2020,CO2 2021,CO2 2022
0,Transportation,Blekinge laen,Karlshamn,63880.787872,71539.616796,63955.030925,53431.160669,49061.635142,49278.492615,48938.879355,49783.685597,44457.549046,44663.441448,40067.799347
1,Transportation,Blekinge laen,Karlskrona,99769.863128,110631.902107,103988.542155,87928.878523,81383.226165,83938.018583,83806.753619,84288.138545,76121.835137,76253.785030,69085.422327
2,Transportation,Blekinge laen,Olofstroem,24246.098053,26987.112098,24270.853129,20135.136141,18428.434366,19086.369879,18940.992778,18794.403530,16923.558292,16944.537254,15135.748446
3,Transportation,Blekinge laen,Ronneby,66320.187942,73682.679881,69432.853765,58856.783640,54587.272229,54934.661257,51358.426651,51254.074082,46117.897820,46194.345713,41374.201354
4,Transportation,Blekinge laen,Soelvesborg,33874.149013,38384.445100,38219.464587,31280.613554,28489.312302,27949.753172,29518.652160,29125.635200,26473.108913,26490.090969,23864.428594
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025,Waste And Sewage,OEstergoetlands laen,Vadstena,0.000000,33.718461,0.000000,0.000000,0.000000,0.000000,45.456016,42.593628,40.138184,45.322298,39.536770
2026,Waste And Sewage,OEstergoetlands laen,Valdemarsvik,0.000000,167.612561,0.000000,0.000000,0.000000,0.000000,225.959319,211.730573,199.524668,225.294655,196.535080
2027,Waste And Sewage,OEstergoetlands laen,Ydre,0.000000,64.007927,0.000000,0.000000,0.000000,0.000000,86.289392,80.855704,76.194524,86.035557,75.052851
2028,Waste And Sewage,OEstergoetlands laen,AAtvidaberg,0.000000,64.334492,0.000000,0.000000,0.000000,0.000000,86.729628,81.268225,76.583264,86.474513,75.435780
2029,Waste And Sewage,OEstergoetlands laen,OEdeshoeg,0.000000,54.619010,0.000000,0.000000,0.000000,0.000000,73.632143,68.995493,65.018024,73.415549,64.043823

In [6]:
data_melted = data.melt(id_vars=['Main sector', 'Region', 'City'], 
                            var_name='Year', 
                            value_name='Emission')

In [9]:
data_melted['Year'] = data_melted['Year'].str.extract(r'(\d{4})').astype(int)

In [11]:
data_melted['Emission'] = data_melted['Emission'] / 1000

In [12]:
data_pivoted = data_melted.pivot_table(index=['Year', 'City', 'Region'], 
                                           columns='Main sector', 
                                           values='Emission', 
                                           aggfunc='sum').reset_index()

In [13]:
for sector in ['Transportation', 'Industry', 'Agriculture', 'Electricity And District Heating', 
                   'Other Heating', 'Machinery', 'Waste And Sewage']:
        if sector not in data_pivoted:
            data_pivoted[sector] = 0

In [14]:
data_pivoted['Total Emissions'] = data_pivoted[['Waste And Sewage', 'Machinery', 'Electricity And District Heating', 
                                                   'Other Heating', 'Agriculture', 'Transportation', 'Industry']].sum(axis=1)

In [26]:
final_columns = ['Year', 'City', 'Region', 'Waste And Sewage', 'Machinery', 'Electricity And District Heating', 
                     'Other Heating', 'Agriculture', 'Transportation', 'Industry', 'Total Emissions']
data_pivoted = data_pivoted[final_columns]

data_pivoted = data_pivoted.drop(columns=['Main sector'])
data_pivoted = data_pivoted.reset_index(drop=True)

KeyError: "['Main sector'] not found in axis"